option_settings:
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    DisableIMDSv1: true
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:application:environment:
    JAVA_TOOL_OPTIONS: '-Dfile.encoding=UTF-8 -Djava.net.preferIPv4Stack=true'
    _JAVA_OPTIONS: '-Xms250m -Xmx1g'