files:
  "/var/app/newrelic/newrelic.jar":
    mode: "000755"
    owner: webapp
    group: webapp
    source: https://download.newrelic.com/newrelic/java-agent/newrelic-agent/current/newrelic.jar
  "/var/app/newrelic/newrelic.yml":
    mode: "000755"
    owner: webapp
    group: webapp
    source: https://download.newrelic.com/newrelic/java-agent/newrelic-agent/current/newrelic.yml

commands:
  01_configure_newrelic:
    command: |
      NEW_RELIC_LICENSE_KEY=`/opt/elasticbeanstalk/bin/get-config environment -k NEW_RELIC_LICENSE_KEY`
      NEW_RELIC_APP_NAME=`/opt/elasticbeanstalk/bin/get-config environment -k NEW_RELIC_APP_NAME`
      sed -i "s/<%= license_key %>/${NEW_RELIC_LICENSE_KEY}/g" /var/app/newrelic/newrelic.yml
      sed -i "s/My Application/${NEW_RELIC_APP_NAME}/g" /var/app/newrelic/newrelic.yml
  02_configure_newrelic_instance:
    command: |
      METADATA_TOKEN=`curl -s -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 21600"`
      INSTANCE_ID=`curl -s -H "X-aws-ec2-metadata-token: $METADATA_TOKEN" http://169.254.169.254/latest/meta-data/instance-id`
      ENVIRONMENT_NAME=`/opt/elasticbeanstalk/bin/get-config container -k environment_name`
      NEW_RELIC_HOSTNAME="${ENVIRONMENT_NAME}_${INSTANCE_ID}"
      sed -i "s/^hostname:.*/hostname: $NEW_RELIC_HOSTNAME/g" /var/app/newrelic/newrelic.yml
  03_clear_newrelic_bak_files:
    command: sudo rm -r /var/app/newrelic/newrelic.*.bak