files:
  "/etc/newrelic-infra.yml" :
    mode: "000644"
    owner: root
    group: root
    content: |
      license_key:
      display_name:

commands:
  01_install-newrelic-infra:
    command: |
      source "/etc/os-release"
      ARCH=`uname -m`
      sudo curl -o /etc/yum.repos.d/newrelic-infra.repo "https://download.newrelic.com/infrastructure_agent/linux/yum/amazonlinux/$VERSION_ID/$ARCH/newrelic-infra.repo"
      sudo yum -q makecache -y --disablerepo='*' --enablerepo='newrelic-infra'
      sudo yum install newrelic-infra -y
  02_configure-newrelic-infra:
    command: |
      NEW_RELIC_LICENSE_KEY=`/opt/elasticbeanstalk/bin/get-config environment -k NEW_RELIC_LICENSE_KEY`
      METADATA_TOKEN=`curl -s -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 21600"`
      INSTANCE_ID=`curl -s -H "X-aws-ec2-metadata-token: $METADATA_TOKEN" http://169.254.169.254/latest/meta-data/instance-id`
      ENVIRONMENT_NAME=`/opt/elasticbeanstalk/bin/get-config container -k environment_name`
      NEW_RELIC_HOSTNAME="${ENVIRONMENT_NAME}_${INSTANCE_ID}"

      sudo sed -i "s/^license_key:.*/license_key: ${NEW_RELIC_LICENSE_KEY}/g" /etc/newrelic-infra.yml
      sudo sed -i "s/^display_name:.*/display_name: ${NEW_RELIC_HOSTNAME}/g" /etc/newrelic-infra.yml
      sudo systemctl restart newrelic-infra
      sudo rm -r /etc/newrelic-infra.*.bak